

<style>
    .Footer{
        border-top: 1px solid greenyellow;
        text-align: center;

    }
</style>

<div class="Footer">
    
    <p>&copy; 2025 Smart OCR. All Rights Reserved.</p>
    
    
</div>

</body>

</html>